@use 'sass:color';
@use '../../variables' as *;

.header {
    align-items: center;
    background-image: linear-gradient(to right, $white , #fff);
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1;

    .logo {
        svg {
            height: 45px;
            width: 45px;
        }
    }
    

    @include breakpoint(lg) {
        background-image: none;
        grid-column: 1 / -1;
        height: 56px;
        justify-content: end;
        margin: auto;
        position: static;
        width: 640px;

        .logo {
            display: none;
        }
    }

    @include breakpoint(xl) {
        width: 950px;
    }
}