@use 'sass:color';
@use '../../variables' as *;

.header {
    background-image: linear-gradient(to right, $white , #fff);
    padding: 30px;
    position: fixed;
    width: 100%;

    svg {
        height: 60px;
        width: 60px;
    }

    @include breakpoint(lg) {
        background-image: none;
        grid-column: 1 / -1;
        position: static;
        width: auto;
    }
}