@use './variables' as *;

html {
    &.dark {
        body {
            background-image: linear-gradient(to right, $primary , #000);
            color: $white;

            header {
                background-image: linear-gradient(to right, $primary , #000);

                button {
                    svg {
                        * {
                            fill: $white;
                        }
                    }
                }

                @include breakpoint(lg) {
                    background-image: none;
                }
            }

            a {
                svg {
                    * {
                        fill: $white;
                    }
                }

                &:hover {
                    svg {
                        * {
                            fill: $highlight;
                        }
                    }
                }
            }

            .black-icon {
                svg {
                    * {
                        fill: white;
                    }
                }
            }

            nav {
                aside {
                    background-image: linear-gradient(to right, $primary , #000);

                    li {
                        a {
                            color: $grayBackground;
                        }
                    }
                }

                button {
                    span {
                        background-color: $white;
                    }
                }
            }

            form {
                textarea, input {
                    background-color: $primary;
                    color: $white;
                    
                    &:focus-visible {
                        outline-offset: -1px;
                    }

                    &:-webkit-autofill {
                        // border: 1px solid green;
                        -webkit-text-fill-color: $white;
                        -webkit-box-shadow: 0 0 0px 1000px $primary inset;
                    }
                }

                button {
                    background-color: $white;
                    color: $primary;

                    &:hover {
                        color: $white;
                    }
                }
            }

            @include breakpoint(lg) {
                nav {
                    aside {
                        background-image: none;
                    }
                }
            }
        }
    }
}

body {
    background-image: linear-gradient(to right, $white , #fff);
    color: $primary;
    margin: 0;
    position: relative;

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.35rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    .skipLink {
        color: $highlight;
        left: 0;
        margin: 0 auto;
        padding: 12px 8px;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-decoration: none;
        top: 15px;
        transform: translateY(-500%);
        transition: transform 0.25s ease;
        width: fit-content;
        z-index: 2;

        &:focus {
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    a {
        border: none;
        border-radius: 8px;
        color: $highlight;
        cursor: pointer;
        text-decoration: none;

        &:focus-visible {
            outline: 3px solid $accessible;
            outline-offset: 3px;
        }
        
        &:hover {
            svg * {
                fill: $highlight;
                transition: fill 0.25s ease;
            }
        }

        &:visited {
            color: $highlight;
        }
    }

    main {
        padding: 140px 15px 40px;
    }

    li {
        &::marker {
            color: $highlight;
        }
    }

    @include breakpoint(lg) {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 1400px;

        main {
            margin: auto;
            max-width: 640px;
            padding: 40px 30px;
        }
    }

    @include breakpoint(xl) {
        main {
            max-width: 950px;
        }
    }
}