@use 'sass:color';
@use './variables' as *;

.skills {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));

    width: 100%;
    gap: 30px;

    .card {
        background: #ffffff;
        border: 1px solid $grayed;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
        text-align: center;

        p {
            margin-bottom: 1em;
            margin-top: .5em;
        }

        svg {
            height: 60px;
        }
    }
}

.portrait {
    text-align: center;

    img {
        border: 3px solid $primary;
        border-radius: 50%;
    }
}

@include breakpoint(sm) {
    .introduction {
        img { 
            float: right;
            margin-bottom: 30px;
            margin-left: 30px;
        }
    }
}