@use 'sass:color';
@use '../variables' as *;

.reference {
    padding: 15px;

    h2 {
        margin-top: 0;
    }

    &:nth-child(odd) {
        background-color: $grayBackground;
    }

    a {
        display: flex;
        padding-right: 5px;
        width: fit-content;
    }
    
    svg {
        height: 45px;
        margin-right: 15px;
        width: 45px;
    }

    @include breakpoint(lg) {
        padding: 0 30px 30px;
    }
}