@use 'sass:color';
@use '../variables' as *;

.resume {
    h3, h4, p {
        margin: .45em 0;
    }

    ul {
        margin-bottom: 0;
    }

    li {
        margin: .35rem 0;
    }
}

.experience {
    padding-left: 25px;
    position: relative;

    &:before {
        background-color: $highlight;
        bottom: 0;
        content: "";
        height: calc(100% - 10px);
        left: 0;
        position: absolute;
        top: 8px;
        width: 2px;
    }
}

.position {
    position: relative;

    &:before {
        background-color: $highlight;
        border-radius: 2px;
        content: "";
        height: 10px;
        left: -29px;
        position: absolute;
        top: 4px;
        transform: rotate(45deg);
        width: 10px;
    }
}

@include breakpoint(sm) {
    .contactInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
}